{{>layout/header}}

<h1>회원가입</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control"
                       id="email" name="email" placeholder="이메일주소를 입력하세요.">
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control"
                       id="password" name="password" placeholder="비밀번호를 입력하세요.">
            </div>

            <div class="form-group">
                권한
                <input type="radio" id="role-user" name="role" value="USER" checked>
                <label for="role-user">USER</label>
                &nbsp;&nbsp;
                <input type="radio" id="role-admin" name="role" value="ADMIN">
                <label for="role-admin">ADMIN</label>
            </div>
        </form>

        <button type="button" class="btn btn-primary" id="btn-join">회원가입</button>
        <a href="/" class="btn btn-secondary">취소</a>
    </div>
</div>

{{>layout/footer}}